
/* reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
/* font */
    font-family: 'Montserrat', sans-serif;
}

ul{
    list-style-type: none;
}
/* button */

.main-button{
    border:1px solid white;
    color: white;
    text-transform: uppercase;
    font-size: 10px;
    padding: 6px 30px;
    border-radius: 25px;
    background-color: black;
    

}
/* studio macro aree */
.container{
    width: 100%; 
}

.clearfix{
  content: "";
  clear: both;
  display: table;
}
header{
    background-color: rgba(0, 0, 0, 7);
    width: calc(100% - 250px);
    height: 100px;
    float: right;
    text-align: right;
    line-height: 100px; 
}

aside{
    width: 250px;
    height: calc(100vh - 100px);
    background: rgb(1, 1, 1);
    color: silver;
}
.inside-aside{
    margin-left: 15px;
}
.top-aside{
    height: 100px;
    padding: 20px 60px 15px 0;
    
}

.nav-top{
    font-size: 20px;
}
footer{
    background-color: cyan;
    width: 100vw;
    height: 100px;
}
