
/* reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
/* font */
    font-family: 'Montserrat', sans-serif;
}

ul{
    list-style-type: none;
}
/* button */

.main-button{
    border:1px solid white;
    color: white;
    text-transform: uppercase;
    font-size: 10px;
    padding: 6px 30px;
    border-radius: 25px;
    background-color: black;
    

}
/* studio macro aree */
.container{
    width: 100%; 
}

/* .clearfix{
  content: "";
  clear: both;
  display: table;
} */

/* header  */
header{
    background-color: rgba(0, 0, 0, 7);
    width: calc(100% - 250px);
    height: 100px;
    /* float: right; */
    position: fixed;
    top: 0;
    right: 0;
    text-align: right;
    z-index: 10;
    line-height: 100px; 
}
/* aside  */

main{
    display: flex;
}

aside{
    width: 250px;
    height: calc(100vh - 100px);
    background: rgb(1, 1, 1);
    color: silver;
    
}
.inside-aside{
    margin:0 15px 0 15px;
    display: flex;
    flex-direction: column;
}

/* top aside */

.top-aside{
    height: 100px;
    padding: 20px 60px 15px 0;
    flex-shrink: 0;  
}
.hidden{
    display: none;
}
/* aside middle  */

.aside-middle{
    line-height: 2;
    flex-grow: 1;
}
.nav-top{
    font-size: 18px;  
}
.nav-middle{
    max-height: 200px;
    overflow-y: auto;  
}
.playlist{
    margin-top: 20px;
}
.fa-plus{
    background-color: silver;
    color: black;
    font-size: 20px;
    padding: 8px;
    text-align: center;
    
}

/* aside bottom  */

.aside-bottom{
    flex-shrink: 0;
}
/* grid */

.grid{
    background-color: rgb(20, 25, 34);
    margin-top: 100px;
    width: calc(100% - 250px);
    height: calc(100% - 200px);
    float: right;
}
.main-buttons> li{
    text-transform: uppercase;
    padding: 20px;
    font: inherit;
    font-size: 16px;
    color: silver;


}
.main-nav ul{
    width: 100%;
    display: flex;
    flex-shrink: 1;
    justify-content: center;
    flex-wrap: wrap;

    
}  
/* grid album */
.albums{
    display: flex;
    flex-wrap: wrap;
}
.album{
    width: calc((100% / 6) - 4px);
    color: white;
    text-align: center;
}


/* footer */
footer{
    background-color: black;
    color: silver;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;


}

/* footerh right */
.footer-right, .preview{
    /* background-color: brown; */
    display: flex;
    
}
/* .preview{

} */
.preview img{
    height: 50px;
    margin: auto;  
}
.description>p{
    font-size: smaller;
}
.icon, .description, .footer-left{
    text-align: center;
    line-height: 100px;
}

/* footer center */

/* .footer-center{
    background-color: rgb(42, 165, 48);
} */
.top-footer-center{
    text-align: center;
    letter-spacing: 15px;
    line-height: 50px;
}

.play{
    font-size: 30px;
    line-height: 50px;    
}
/* .bottom-footer-center{
    /* display: flex; 

    
}  */
.barr{
    weight: 20px;
    height: 3px;
    background-color: silver;
    border-radius: 20%;
}

/* .footer-right{
    background-color: rgb(85, 42, 165);
} */

.footer-left, .bottom-footer-center{
    font-size: smaller;    
}

@media screen and (max-width: 600px) {

    .vanish-xs{
        display: none;
    }
    .appear{
        display: block;
        width: 20px;
    }
    aside{
        width:50px;
    }
    .top-aside{
        height: 20px;
        padding: 2px 0 5px 0;
    }
    header{ 
        width: calc(100% - 50px);
    }
}